.borda{
	border: solid 1px black !important;
	margin: 20px 20px 20px 20px;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
li {
    float: left;
    border: 1px solid #000;
    border-bottom-width: 0;
    margin: 3px 3px 0px 3px;
    padding: 5px 5px 0px 5px;
    background-color: #CCC;
    color: #696969;
}
#mainView {
    border: 1px solid black;
	clear: both;
	padding: 0 1em;
}
.active {
    background-color: #FFF;
    color: #000;
}

legend.scheduler-border {
    width:inherit; /* Or auto */
    padding:0 10px; /* To give a bit of padding on the left and right */
    border-bottom:none;
}

fieldset.scheduler-border {
    border: 1px groove #ddd !important;
    padding: 0 1.4em 1.4em 1.4em !important;
    margin: 0 0 1.5em 0 !important;
    -webkit-box-shadow:  0px 0px 0px 0px #000;
            box-shadow:  0px 0px 0px 0px #000;
}
.jumbotron {
			
			text-align: left;
			margin-top: 5px;
			
		}
		.table {
			margin-top: 20px;
		}
		.form-control {
			margin-bottom: 5px;
		}
		.selecionado {
			background-color: yellow;
		}
		.negrito {
			font-weight: bold;
		}
		.cab{
		text-align: center;

		}	

   .form-imput {
  display: block;
  width: 90%;
  height: 34px;
  padding: 8px 20px;
  margin-left: 50px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 3px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
       -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
          transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}


.div-area{
    position:relative;
    left:5px;
    top:1em;
    width:320px;
    height:270px;

}
.div-centro
{
	width: 350px;
	height: 51px;
	position: absolute;
	top: 47px;
	left: 415px;
	margin-top: -50px;
	margin-left: -50px;
}

.div-estado-centro
{
	
    width: 300px;
	height: 50px;
	position: absolute;
	top: 100px;
	left: 415px;
	margin-top: -50px;
	margin-left: -50px;
}

.div-profissao
{
	
	width: 300px;
	height: 30px;
	position: absolute;
	top: 147px;
	left: 415px;
	margin-top: -50px;
	margin-left: -50px;
}

.div-profissao-combo
{
	
	width: 250px;
	height: 30px;
	position: absolute;
	top: 147px;
	left: 520px;
	margin-top: -50px;
	margin-left: -50px;
}

.div-estado-civi
{
	
    width: 250px;
	height: 50px;
	position: absolute;
	top: 100px;
	left: 520px;
	margin-top: -50px;
	margin-left: -50px;
}

.div-genero
{
	
    width: 250px;
	height: 51px;
	position: absolute;
	top: 47px;
	left: 520px;
	margin-top: -50px;
	margin-left: -50px;
}