<div id="tabs">
	<ul>	
		<li ng-repeat="tab in tabs" 
            ng-class="{active:isActiveTab(tab.title)}" 
            ng-click="onClickTab(tab)">{{tab.title}}</li>
    </ul>
	<div id="mainView" class="jumbotron">
		<!-- Aba informações básicas da pessoa -->
		<div ng-show="infoPessoa">
			<p>{{app}}</p>
			<div class="jumbotron">
 
   
   <div class="div-area">
		  <form class="form-horizontal" name="form1">
		    
		    <div class="form-group">
		      <label class="control-label col-sm-2" for="cpf">CPF:</label>
		      <div class="col-sm-10">
		        <input name="cpf" type="text" ng-model="contato.cpf" class="form-imput" id="cpf" placeholder="CPF" onKeyPress="MascaraCPF(form1.cpf);" onBlur="ValidarCPF(form1.cpf);" maxlength="14">
		      </div>
		    </div>

		     <div class="form-group">
		      <label class="control-label col-sm-2" for="nome">Nome:</label>
		      <div class="col-sm-10">
		        <input type="nome" ng-model="contato.nome" class="form-imput" id="nome" placeholder="Nome:">
		      </div>
		    </div>


		  
		  <div class="form-group">
				  <label for="example-datetime-local-input" class="col-xs-2 col-form-label">Data nascimento:</label>
				  <div class="col-xs-10">
				    <input  name="data" class="form-imput" type="text" id="example-datetime-local-input" onKeyPress="MascaraData(form1.data);" onBlur= "form1.data);" maxlength="10">
				  </div>
			</div> 
		
		  <div class="div-centro">
		      <label class="control-label col-sm-2" for="genero">Genero:</label>
		  </div>

		  <div class="div-genero">
		               <select class="form-control" ng-model="contato.genero" ng-options="genero.nome 
		                      for genero in genero | orderBy:'nome'">
				               <option value="">Selecione um Genero</option>
			           </select>
		 </div>


           <div class="div-estado-centro">
		       <label class="control-label col-sm-2" for="estadoCivil">Estado Civil:</label>
		   </div>

  				  <div class="div-estado-civi">
		                 <select class="form-control" ng-model="contato.estadoCivilCasado" ng-options="x.estadoCivil
		                      for x in cbEstadosCivis">		                      
				               <option value="">Estado civil</option>
			             </select>
		          </div>


		       <div class="div-profissao">
		             <label class="control-label col-sm-2" for="estadoCivil">Profissão:</label>
		        </div>

				<div class="div-profissao-combo">
		             <select class="form-control" ng-model="contato.profissao" ng-options="x.profissao 
		                      for x in cbProfissoes">
				               <option value="">Profissão</option>
			             </select>
		          </div>




		    <div class="form-group">
		      <div class="col-sm-offset-2 col-sm-10">
		        <div class="checkbox">
		          <label><input type="checkbox">Investidor Qualificado</label>
		        </div>
		      </div>
		    </div>
		    
		    <div class="form-group">
		      <div class="col-sm-offset-2 col-sm-10">
		        <button type="submit" class="btn btn-default">Submit</button>
		      </div>
		    </div>
		 

		  </form>
	</div>     
</div>
		</div>
		<!-- Aba informações de Renda-->
		<div ng-show="infoRenda">
			{{pessoa}}
			<fieldset class="scheduler-border">
				<label for="cpfCnpj">CPF: </label>
				<input type="text" disabled="disabled" name="cpfCnpj" id="cpfCnpj" ng-model="pessoa.cpf">
				<label for="nome">Nome: </label>
				<input type="text" disabled="disabled" name="nome" id="nome" ng-model="pessoa.nome">
			</fieldset>
			<fieldset class="scheduler-border">
				<legend class="scheduler-border">Informações de Renda</legend>
				<form name="infoRendaForm" id="infoRendaForm">
					<label for="valorRenda">Valor da Renda: </label>
					<input type="text" name="valorRenda" id="valorRenda" ng-model="iRenda.valorRenda" ng-required="true">
					<label for="tipoRenda">Tipo de Renda: </label>
					<select name="tipoRenda" id="tipoRenda" ng-model="iRenda.tipoRenda" ng-options="x.tipoRenda for x in cbTiposDeRenda" ng-required="true">
						<option value=""></option>	
					</select>
					<label for="periodicidade">Periodicidade: </label>
					<select name="periodicidade" id="periodicidade" ng-model="iRenda.periodicidade" ng-options="x.tipoPeriodicidade for x in cbTiposDePeriodicidade" ng-required="true">
						<option value=""></option>
					</select>
					<label for="porcentRenda">% Renda: </label>
					<input type="text" name="porcentRenda" id="porcentRenda" ng-model="iRenda.porcentRenda" ng-required="true">
					<label for="moeda">Moeda: </label>
					<select name="moeda" id="moeda" ng-model="iRenda.moeda" ng-options="x.moeda for x in cbMoedas" ng-required="true">
						<option value=""></option>
					</select>
					<label for="dataBase">Data Base: </label>
					<input type="text" name="dataBase" id="dataBase" ng-model="iRenda.dataBase" ng-required="true">
					<label for="fonte">Fonte: </label>
					<input type="text" name="fonte" id="fonte" ng-model="iRenda.fonte" ng-required="true">
				</form>
				<input type="button" name="btnAdicionar" id="btnAdicionar" value="Adicionar" ng-click="adicionarRenda(iRenda)" ng-show="showIncluir">
				<input type="button" name="btnSalvar" id="btnSalvar" value="Salvar" ng-click="salvarEdicaoRenda(iRenda)" ng-show="!showIncluir">
				<input type="button" name="btnCancel" id="btnCancel" value="Cancelar" ng-click="cancelEdicaoRenda(iRenda)" ng-show="!showIncluir">
				<br/>
				<table class="table-bordered">
					<tr>
						<th>Valor Renda</th>
						<th>Moeda</th>
						<th>Tipo Renda</th>
						<th>% Renda</th>
						<th>Data Base</th>
						<th>Fonte</th>
						<th></th>
					</tr>
					<tr ng-repeat="renda in pessoa.infoRenda">
						<td>{{renda.valorRenda}}</td>
						<td>{{renda.moeda.moeda}}</td>
						<td>{{renda.tipoRenda.tipoRenda}}</td>
						<td>{{renda.porcentRenda}}</td>
						<td>{{renda.dataBase}}</td>
						<td>{{renda.fonte}}</td>
						<td>
							<a href="">
                                <span class="glyphicon glyphicon-edit" ng-click="editarRenda(renda.id)"></span>
                            </a>
                            &nbsp;
                            <a href="">
                                <span class="glyphicon glyphicon-trash" ng-click="excluirRenda(renda)"></span>
                            </a>
                        </td>
					</tr>
				</table>
				<hr/>
				<table class="table-bordered">
					<tr>
						<th>Valor Total Renda</th>
						<th>Moeda</th>
						<th>Periodicidade</th>
					</tr>
					<tr ng-repeat="item in somaRenda">
						<td>{{item.valorTotalRenda}}</td>
						<td>{{item.moeda.moeda}}</td>
							<td>{{item.periodicidade.tipoPeriodicidade}}</td>
						</tr>
				</table>
			</fieldset>
		</div>
	</div>
	<div>
		<input type="submit" name="btnSalvarPessoa" id="btnSalvarPessoa" value="Salvar Pessoa" ng-click="salvarPessoa()">
	</div>
</div>
